{
  "presets": ["@babel/preset-react"],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"],
  "env": {
    "esm": {
      "presets": [
        [
          "@babel/preset-env", {
          "targets": {
            "browsers": [
              "last 2 versions",
              "ie >= 11"
            ]
          },
          "modules": false
        }]
      ]
    },
    "cjs": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": [
              "last 2 versions",
              "ie >= 11"
            ]
          }
        }]
      ]
    }
  }
}
