{
  "presets": ["react"],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "esm": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": [
              "last 2 versions",
              "ie >= 11"
            ]
          },
          "modules": false
        }]
      ]
    }
  }
}
